<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=0.6" />
    <title>RetroBrand</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="author" content="Fanoyrios Gkialis" />
    <!-- Script Librarys begin -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/cc178605cc.js"
      crossorigin="anonymous"
    ></script>
    <!-- Script Librarys end -->
    <!-- Stylesheets begin -->
    <link rel="stylesheet" href="/stylesheets/style-homepage.css" />
    <link rel="stylesheet" href="/stylesheets/style-layout.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- Stylesheets end -->
  </head>
  <body>
    <nav id="top_navbar">
      <ul>
        <li>
          <a href="javascript:void(0);" class="active_header_link">Home</a>
        </li>
        <li><a href="javascript:void(0);">Sign-Up</a></li>
        <li><a href="javascript:void(0);">Sign-In</a></li>
        <li><a href="javascript:void(0);">Shop</a></li>
        <li><a href="javascript:void(0);">Contact Us</a></li>
      </ul>
    </nav>
    <nav
      id="collapsible_navbar_l"
      class="animate__animated animate__bounceInDown"
    >
      <ul>
        <li>
          <a href="javascript:void(0);" style="padding: 0; margin: 0 20px"
            ><img
              src="/images/layout/main_logo.png"
              alt="main_logo"
              height="60"
              width="60"
          /></a>
        </li>
        <li>
          <a href="javascript:void(0);" class="active_header_link">Home</a>
        </li>
        <li><a href="javascript:void(0);">Sign-Up</a></li>
        <li><a href="javascript:void(0);">Sign-In</a></li>
        <li><a href="javascript:void(0);">Shop</a></li>
        <li><a href="javascript:void(0);">Contact Us</a></li>
      </ul>
    </nav>
    <nav
      id="collapsible_navbar_s"
      class="animate__animated animate__bounceInDown"
    >
      <a href="javascript:void(0);" style="padding: 0; margin: 0 20px"
        ><img
          src="/images/layout/main_logo.png"
          alt="main_logo"
          height="53.5"
          width="53.5"
      /></a>
      <div id="myLinks">
        <a href="javascript:void(0);">Sign-Up</a>
        <a href="javascript:void(0);">Sign-In</a>
        <a href="javascript:void(0);">Shop</a>
        <a href="javascript:void(0);">Contact Us</a>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </nav>
    <!-- <nav
      class="navbar navbar-expand-lg header animate__animated animate__bounceInDown"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0);">
          <img
            src="/images/layout/main_logo.png"
            alt="main_logo"
            width="80"
            height="80"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="javascript:void(0);navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">Sign-Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">Sign-In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->
    <!-- <nav
      class="header navbar-expand-lg mb-4 header animate__animated animate__bounceInDown"
    >
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="javascript:void(0);navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
          style="float: left"
        >
          <i
            class="fa fa-bars fa-4x animate__animated animate__fadeInRight"
            aria-hidden="true"
          ></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul
            class="navbar-nav ml-auto text-center large-text-navbar animate__animated animate__fadeInRight"
          >
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link sign-up-link" href="javascript:void(0);">Sign-Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link log-in-link" href="javascript:void(0);">Sign-In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link logout-link" href="javascript:void(0);">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link user-acount-link" href="javascript:void(0);"
                ><i
                  class="fa fa-user-circle"
                  aria-hidden="true"
                  title="Edit Account"
                ></i
              ></a>
            </li>
            <li>
              <a href="javascript:void(0);"
                ><img
                  src="/images/layout/main_logo.png"
                  alt="cyberCafeLogo"
                  class="animate__animated animate__fadeInLeft"
                  style="display: inline-block"
                  height="80"
                  width="80"
                  title="Home Page"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->
    <%- body %>
    <div class="home-footer-top">
      <div class="home-footer-top-content">
        <img src="/images/layout/main_logo.png" alt="main_logo" />
        <br />
        <br />
        <h2>Store Location</h2>
        <p>
          Sir Matt Busby Way, Old Trafford, Stretford <br />
          Manchester M16 0RA, United Kingdom
        </p>
      </div>
    </div>
    <footer
      class="navbar navbar-light justify-content-between flex-row-reverse"
      purpose="page-footer"
    >
      <small purpose="footer-copy"
        >Copyright &copy; 2022 <a href="javascript:void(0);">RetroBrand</a>.
        <br class="d-block d-sm-none" />All rights reserved. Created by Dream
        Team</small
      >
    </footer>
    <script defer>
      let layoutHeaderHome = document.querySelector('#collapsible_navbar_s');
      console.log(layoutHeaderHome);
      function scrollFunction() {
        if (
          document.body.scrollTop > 480 ||
          document.documentElement.scrollTop > 480
        ) {
          layoutHeaderHome.style.display = 'block';
          console.log(1);
        } else {
          layoutHeaderHome.style.display = 'none';
          console.log(0);
        }
      }
      window.onscroll = function () {
        scrollFunction();
      };
      function myFunction() {
        let x = document.getElementById('myLinks');
        if (x.style.display === 'block') {
          x.style.display = 'none';
        } else {
          x.style.display = 'block';
        }
      }
    </script>
  </body>
</html>
