<h1>Test</h1>
<header class="top_header signup_header">
  <h1 class="signup_header_text">Sign Up</h1>
</header>
<article class="signup_main">
  <h2>Sign up New Member</h2>
  <form action="" method="post">
    <section>
      <div class="form-step">
        <div class="form-step-number">1</div>
        <div class="form-step-title">User Information</div>
      </div>
    </section>
  </form>
</article>
