/* --------------------------------------------------- */
/* --------------------------------------------------- */
#top_navbar {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(36, 28, 21, 0.8) 0%,
    rgba(102, 59, 34, 0.8) 50%,
    rgba(181, 101, 29, 0.8) 100%
  );
}

#top_navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

#top_navbar ul li {
  display: inline-block;
}

#top_navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 16px;
}

#top_navbar ul li a:hover {
  background-color: gray;
}

.active_header_link {
  background-color: rgb(255, 172, 47);
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */

#collapsible_navbar_l {
  width: 100%;
  background: rgb(36, 28, 21);
  background: linear-gradient(
    90deg,
    rgba(36, 28, 21, 0.8) 0%,
    rgba(102, 59, 34, 0.8) 50%,
    rgba(181, 101, 29, 0.8) 100%
  );
  position: sticky !important;
  z-index: 10;
  top: 0;
  display: none;
}

#collapsible_navbar_l a {
  color: #ffa51e;
  font-family: 'Sofia', sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
}

#collapsible_navbar_l ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

#collapsible_navbar_l ul li {
  display: inline-block;
}

#collapsible_navbar_l ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 16px;
  transition: 1.5s;
}

#collapsible_navbar_l ul li a:hover {
  text-decoration: underline white;
  background-color: rgba(165, 42, 42, 0.5);
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */

#collapsible_navbar_s {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(36, 28, 21, 0.8) 0%,
    rgba(102, 59, 34, 0.8) 50%,
    rgba(181, 101, 29, 0.8) 100%
  );
  position: relative;
  display: none;
  position: sticky !important;
  z-index: 10;
  top: 0;
}

#collapsible_navbar_s a.icon {
  background: black;
  display: block;
  position: absolute;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  right: 0;
  top: 0;
}

#collapsible_navbar_s_hamburger_links {
  display: none;
}

#collapsible_navbar_s_hamburger_links a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  display: block;
  overflow: hidden;
  border-bottom: #312118 2px solid;
  transition: 1.5s;
}
#collapsible_navbar_s_hamburger_links a:last-child {
  border-bottom: none !important;
}
#collapsible_navbar_s_hamburger_links a:first-child {
  border-top: #312118 2px solid !important;
}
#collapsible_navbar_s_logo {
  display: inline-block !important;
  border: none !important;
}

#collapsible_navbar_s_hamburger_links a:hover {
  text-decoration: underline white;
  background-color: rgba(165, 42, 42, 0.5);
}

.active {
  background-color: #04aa6d;
  color: white;
}

.active:hover {
  background-color: rgb(255, 172, 47);
}
/* --------------------------------------------------- */
/* --------------------------------------------------- */

/* .header-right {
  float: right;
  width: 70%;
  font-family: 'Sofia', sans-serif;
  height: 100px;
}
.header-left {
  float: left;
  width: 120px;
  height: 200px;
  margin-left: 50px;
  margin-top: 20px;
}
.large-text-navbar {
  font-weight: bolder;
  font-size: 2.5rem;
}
.large-text-navbar li a {
  color: #ffa51e;
  font-family: 'Sofia', sans-serif;
}
.header-right-links {
  float: right;
  position: relative;
  top: 50%;
  margin-right: 50px;
  text-decoration: none;
}
.header-right-links a {
  color: #ffa51e;
  font-size: 2.5rem;
  margin: 4px;
}

@media only screen and (max-width: 1055px) {
  .header-right-links a {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 790px) {
  .header-right-links a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 595px) {
  .header-right-links {
    margin-right: 10px;
  }
  .header-right {
    width: 65%;
  }
  .header-left {
    margin-left: 10px;
  }
} */

.top_header {
  width: 100%;
  height: 480px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}

footer {
  text-align: center;
  width: 100%;
  height: 50px;
  padding: 3px;
  background-color: #312118;
  color: #ffffff;
  position: absolute;
  bottom: 0;
}

.home-footer-top {
  width: 100%;
  height: 704px;
  margin: auto;
  margin-bottom: 0;
  background-image: url('/images/layout/footer-top-img-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.home-footer-top-content {
  padding-top: 150px;
  text-align: center;
  color: #ffffff;
}

.home-footer-top-content img {
  margin: auto;
  margin-bottom: 20px;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
